


.hero {
  padding-left: 70%
}

/* original code below  */

body {
  background: url('https://ak.picdn.net/shutterstock/videos/25382975/thumb/1.jpg?ip=x480') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


  h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: white;
    position: fixed;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    /* padding-top: 100px; */
    /* padding-top: 10% */
    padding-bottom: 300px;

  }

  div.card {
    background-color: #eeeeee;
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right:15px;
    margin-bottom:20px;
  }

  div.cardsmall {
    background-color: #eeeeee;
    height: 225px;
    width: 200px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;


  }


  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }

  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }

  button {
    font-size: .99em;
    color: #fff;
    background-color: red;
    border-radius: 10px;
  }


  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  main {
    text-align: center;
    float:left;
  }


  h2.battle {
    position:top;
    top:-5px;
    font-size: 2em;
    color: white;
  }



.star {
  padding-left: 20%
  height: 200px;
  width: 200px;

}

#battlebutton {
  padding-top: 50px;

  padding-bottom: 50px;

  margin-top:20px;
  margin-bottom:15px;

}

#battlebutton:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

 #right {
   position: fixed;
   padding-top: 1000px;
   font-size: 12px;
 }


#again {
  font-size: 20px;
  color: #fff;
  background-color: blue;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 10;
}

#wrapper{

    display: flex;
}
